<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="shortcut icon" href="/img/favicon.png">
  <link rel="stylesheet" href="/css/modelo.css">
  <link rel="stylesheet" href="/css/userAvaliarChamado.css">
</head>

<body>
  <header id="header">
    <img src="/img/logo.png" alt="Logo" id="logo" onclick="navigation('/usuario/index')">
    <nav id="nav">
      <button aria-label="Abrir Menu" id="btn-mobile" aria-haspopup="true" aria-controls="menu" aria-expanded="false">
        <span id="hamburger"></span>
      </button>
      <ul id="menu" role="menu">
        <li class="navLi" onclick="navigation('/usuario/index')"><img src="/img/home.png" alt="icon" class="icon">
          Home</li>
        <li class="navLi" onclick="navigation('/usuario/novoChamado')"><img src="/img/create.png" alt="icon"
            class="icon">
          Novo
          Chamado</li>
        <li class="navLi" onclick="navigation('/usuario/avaliarChamado')"><img src="/img/historico.png" alt="icon"
            class="icon">
          Avaliar Chamado</li>
        <li class="navLi" onclick="navigation('/usuario/minhaConta')"><img src="/img/perfil.png" alt="icon"
            class="icon">
          Minha
          Conta</li>
        <li class="navLi" onclick="navigation('/logout')"><img src="/img/logout.png" alt="icon" class="icon"> Log
          Out</li>
      </ul>
    </nav>
  </header>

  <main>
    <h1>Avaliar chamado!</h1>

    <input type="text" id="searchInput" onkeyup="searchTable()" placeholder="Buscar na chamado...">
    <table id="lista">
      <thead>
        <tr>
          <th onclick="sortTable(0)">Número</th>
          <th onclick="sortTable(1)">Título</th>
          <th onclick="sortTable(2)">Data</th>
          <th onclick="sortTable(3)">Encerrado</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="chamado : ${chamados}" th:onclick="'avaliarChamado(' + ${chamado.id_chamado} + ')'" id="inc">
          <td th:text="'INC' + ${chamado.id_chamado}"></td>
          <td th:text="${chamado.titulo}"></td>
          <td th:text="${chamado.data_atualizacao}"></td>
          <td th:text="${chamado.statusChamado}"></td>
        </tr>
      </tbody>
    </table>
    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2 id="modalHeader">Avaliação de Chamado</h2>
        <form id="avaliacaoForm">
          <label for="nota">Nota:</label>
          <div class="star-rating">
            <input type="radio" id="5-stars" name="nota" value="5" required />
            <label for="5-stars" class="star">&#9733;</label>
            <input type="radio" id="4-stars" name="nota" value="4" />
            <label for="4-stars" class="star">&#9733;</label>
            <input type="radio" id="3-stars" name="nota" value="3" />
            <label for="3-stars" class="star">&#9733;</label>
            <input type="radio" id="2-stars" name="nota" value="2" />
            <label for="2-stars" class="star">&#9733;</label>
            <input type="radio" id="1-star" name="nota" value="1" />
            <label for="1-star" class="star">&#9733;</label>
          </div>
          <br>
          <textarea id="comentarios" name="comentarios" placeholder="Comentários:" required></textarea>
          <br><br>
          <button type="submit" class="button button-confirmar" id="salvar">Salvar</button>
          <button type="button" class="button button-cancelar" onclick="closeModal()">Cancelar</button>
        </form>
      </div>
    </div>
  </main>

  <footer>
    <p>Para mais informações clique em
      <a href="fale_conosco.html">Fale Conosco</a>
    </p>
  </footer>
  <script src="/js/modelo.js"></script>
  <script src="/js/userAvaliarChamado.js"></script>
</body>

</html>